@{
    ViewData["Title"] = "Оформление заказа";
}

<div class="container">
    <div class="row g-3 m-3">
        <div>
            <h2>Оформление заказа</h2>

            <h4>Возникла проблема при оформлении заказа!</h4>

            <div class="float-end">
                <a class="btn btn-outline-primary" href="/" role="button">Продолжить покупки</a>
            </div>
        </div>
    </div>
</div>