<ul class="admin-nav flex-column">
    <li class="admin-nav-item">
        <a class="admin-nav-link" asp-area="admin" asp-controller="orders" asp-action="index">Заказы</a>
    </li>
    <li class="admin-nav-item">
        <a class="admin-nav-link" asp-area="admin" asp-controller="users" asp-action="index">Пользователи</a>
    </li>
    <li class="admin-nav-item">
        <a class="admin-nav-link" asp-area="admin" asp-controller="roles" asp-action="index">Роли</a>
    </li>
    <li class="admin-nav-item">
        <a class="admin-nav-link" asp-area="admin" asp-controller="products" asp-action="index">Продукты</a>
    </li>
</ul>