@{
    ViewBag.Title = "Страница не найдена";
}

<div class="container">
    <div class="row g-3">
        <div class="d-flex justify-content-center p-2">
            <div class="error-container">
                <div class="error-code">404</div>
                <div class="error-message">К сожалению, страница не найдена.</div>
                <p>Возможно, она была перемещена или удалена.</p>
                <a href="/" class="home-link">Вернуться на главную</a>
            </div>
        </div>
    </div>
</div>
