version: '3.9'

services:
  postgres:
    container_name: masterskaya_veloservice_db
    image: postgres:17.2
    env_file:
      - docker.env
    healthcheck:
      test: CMD-SHELL pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - app-network
    volumes:
      - postgresql_data:/var/lib/postgresql/data
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"


  nginx:
    image: nginx:1.27.3
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - app-network
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/ssl:/etc/nginx/ssl
    depends_on:
      - onlineshopwebapp
      - onlineshopwebapi 
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"


  onlineshopwebapp:
    container_name: masterskaya_veloservice_web_app
    image: ${DOCKER_REGISTRY-}onlineshopwebapp
    env_file:
      - docker.env
    build:
      context: .
      dockerfile: OnlineShopWebApp/Dockerfile
    networks:
      - app-network
    volumes:
      - images:/app/wwwroot/images
      - data-protection-keys:/root/.aspnet/DataProtection-Keys
    depends_on:
      - postgres
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"


  onlineshopwebapi:
    container_name: masterskaya_veloservice_web_api
    image: ${DOCKER_REGISTRY-}onlineshopwebapi
    env_file:
      - docker.env
    build:
      context: .
      dockerfile: OnlineShopWebApi/Dockerfile
    networks:
      - app-network
    depends_on:
      - postgres
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "10"


networks:
  app-network:
volumes:
  postgresql_data:
  data-protection-keys:
  images:  