@model decimal

<div class="text-center d-flex align-items-center flex-column">
    <div class="comparison-container">
        <img src="/images/buttons/ComparisonList.svg" alt="Comparison" class="menu-icon" style="z-index: 1;">
        @if (Model > 0)
        {
                <span class="badge rounded-pill bg-danger comparison-badge">
                @if (Model > 99)
                {
                    @:99+
                }
                else
                {
                    @Model
                }
            </span>
        }
    </div>
    <p class="mb-0">Сравнение</p>
</div>