@model UserVM

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="changePasswordLabel">Изменение пароля</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
    </div>
    <div class="modal-body">
        <form id="changePasswordForm" asp-area="admin" asp-controller="users" asp-action="changePassword" method="post">
            <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Login" />
            <div>
                <label asp-for="Password" class="form-input-label">Пароль<sup class="required-field-mark">*</sup></label><br />
                <input type="password" asp-for="Password" name="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>
            <div>
                <label asp-for="ConfirmedPassword" class="form-input-label">Повторите пароль<sup class="required-field-mark">*</sup></label><br />
                <input type="password" asp-for="ConfirmedPassword" name="ConfirmedPassword" class="form-control" />
                <span asp-validation-for="ConfirmedPassword" class="text-danger" />
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" form="changePasswordForm" class="btn btn-outline-primary">Сохранить изменения</button>
    </div>
</div>